{
    "env": {
        "jest": true
    },
    "extends": "airbnb",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "parser": "babel-eslint",
    "plugins": ["react"],
    "rules": {
        "react/jsx-filename-extension": 0,
        "import/prefer-default-export": false
    }
}